<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if current_user %>
  <%= link_to 'Logout-user' ,destroy_user_session_path, method: :delete%>
  <%= link_to 'edit-user' ,edit_user_registration_path%>
  <%= link_to 'list lcvowners' ,finders_index_path%>

<% elsif current_lcvowner %>
  <%= link_to 'Logout-lcvowner' ,destroy_lcvowner_session_path, method: :delete%>
  <%= link_to 'edit-lcvowner' ,edit_lcvowner_registration_path%>
  <%= link_to 'listVehicles-lcvowner' ,vehicles_path%>

<% else %>
  <%= link_to 'HOME' ,root_path%>
  <%= link_to 'Login  - lcvowner' ,new_lcvowner_session_path, class:"btn btn-primary"%>
  <%= link_to 'Signup - lcvowner' ,new_lcvowner_registration_path, class:"btn btn-primary"%>
  <%= link_to 'Login  - user' ,new_user_session_path, class:"btn btn-success" %>
  <%= link_to 'Signup - user' ,new_user_registration_path%>
<% end %>